<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<div class="villaMenus">
			<ul>
				<li><a href="/sessions/new" target="_self" class="lev1">Anmelden</a></li>
				<li><a href="/kundes/new" target="_self" class="lev1akt">Registrieren</a></li>
			</ul>
		</div>
	     
		<div id="content_middle">
			<br/>
			<p class="head">Registrierung</p>
			<br/>
			
			<%= render 'form' %>
		</div>
		
		<div id="images_right">
			<div id="htwg_logo">
				<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
			</div>
			<div id="villa_pic2"/>
			<div id="villa_am_see">Villa am See</div>
		</div>
	</body>
</html>

<!--<%= link_to 'Back', kundes_path %>-->
