<% for date in @date %>
  <tr>
  	
  	<% startzeit =date.anfangszeit%>
  	<% endzeit =date.endzeit%>
  	
<table id='calendar' border = '1px'; bgcolor="#e6d2d3" >
	<caption align="center"><font color="black" ><b><%=startzeit.strftime("%B")%><%=startzeit.strftime("%Y")%></b></font></caption>	
 <tr border ='1px'; bgcolor="#d09896";>
   <th>So</th><th>Mo</th>
   <th>Di</th><th>Mi</th>
   <th>Do</th><th>Fr</th>
   <th>Sa</th>
  </tr>
  <tr>
  <% @beginning_of_month = Date.civil(@year.to_i, @month.to_i, 1) %>
  <% @end_of_month = Date.civil(@year.to_i, @month.to_i, -1) %>

  <% (@beginning_of_month..@end_of_month).each do |d| %>  	
    <% if d == @beginning_of_month %>
      <% d.wday.times do %> <td class='offset'></td> <% end %>
    <% end %>
	<!--Zeilenumbruch-->
    <% if d.wday == 0 %> </tr><tr> <% end %>

    	
   <% if d.day >=startzeit.day && d.day <=endzeit.day %>
		<td bgcolor="red"><font color="black"> <%= d.day %> </font></td> 
   <% else%>
    <!--Ausgabe-->    
    	<td bgcolor="green"><font color="black"> <%= d.day %> </font></td>
    <% end %>
  <% end %>
  </tr>
</table>

   </tr>
<%end%>

