<p id="notice"><%= notice %></p>

<p>
  <b>Bezeichnung:</b>
  <%= @ausstattung.bezeichnung %>
</p>


<%= link_to 'Edit', edit_ausstattung_path(@ausstattung) %> |
<%= link_to 'Back', ausstattungs_path %>
