<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>

	</head>
	<body>
		<table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
			<tr align="left" valign="top">
				<td>
				<table width="900" border="0" cellpadding="0" cellspacing="0" >
					<!--  HAUPTMENU LEVEL 01-->

					<!--HEADLINE	-->
					<tr>
						<td><img src="/assets/pix_weiss_01.gif" width="215" height="97"></td>
						<td>&nbsp;</td>
						<td class="head">Online buchen									

						<td>&nbsp;</td>
						<td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
					</tr>

					<!--UNTERMENUE LINKE SEITE LEVEL 02-->
					<tr>
						<td width="215" valign="top">
						<div id="villaMenus" class="villaMenus">
							<a href="/static/l1_buchen" target="_self" class="lev1">Konferenz- und Tagungsr&auml;ume</a>
							<a href="/raums" target="_self" class="lev1">Verf&uuml;gbarkeit pr&uuml;fen</a>
							<a href="/buchungs/new" target="_self" class="lev1akt">Online buchen</a>
							<a href="/l2_anfrage.html" target="_self" class="lev1">Anfrage/Reservierung</a>
							<a href="l1_kontakt.html" target="_self" class="lev1">Kontakt</a>
						</div><!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03--></td>
						<td width="30" align="left" valign="top"><img src="/assets/pix_weiss_01.gif" width="30" height="100%"></td>
						<td width="380" align="left" valign="top">
						<div width="100" >
							<%= render 'form' %>
						</div>
						</td>
						<td width="30" align="left" valign="top"><img src="/assets/pix_weiss_01.gif" width="30" height="100%"></td>
						<!--BILDER RECHTE SEITE	-->
						<td width="245" align="left" valign="top"><img src="/assets/img_villa_01.jpg" width="245" height="327">
						<br>
						<br>
						Villa am See
						<br>
						</td>
					</tr>
				</table></td>
			</tr>
		</table>
	</body>
</html>




