
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head><script src="/A2EB891D63C8/avg_ls_dom.js" type="text/javascript"></script>
  <title>Villa Rheinburg</title>
  <link rel="shortcut icon" href="img/favicon_villarheinb.gif">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link href="stylesheets/css_villarheinb.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
   <tr align="left" valign="top">
    <td>
     <table width="900" border="0" cellpadding="0" cellspacing="0" >
      <tr> 
       <td colspan="4" width="655" valign="bottom" height="97">
        <div style="width:655px; height:97px;">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="655" height="97">
         <param name="movie" value="img/hg_01.swf">
         <param name="quality" value="high">
         <embed src="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="655" height="97"></embed>
        </object>  </div> 
       </td>
       <td width="245" valign="bottom">
         <div style="height:97px;"><img src="img/zeichen_villa.jpg" width="245" height="97"></div>
       </td>
      </tr>
      <!--  HAUPTMENU LEVEL 01  -->
      <tr>
       <td colspan="4" background="/assets/img/hg_navi_01.jpg" width="655" height="35">
        <a href="#" target="_self" class="menu1akt">Home</a>
        <a href="l1_buchen.html" class="menu1">Online-Buchung</a>
        <a href="l1_kontakt.html" class="menu1">Kontakt</a>
       </td>
       <td background="img/hg_navi_02.jpg">
       </td>
      </tr>
      <!--HEADLINE	-->
      <tr>
       <td>
        <img src="img/pix_weiss_01.gif" width="215" height="97">
       </td>
       <td>&nbsp;</td>
       <td class="head">Die Villa am See</td>
       <td>&nbsp;</td>
       <td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="img/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
      </tr>
      <!--UNTERMENUE LINKE SEITE LEVEL 02-->
      <tr>
       <td width="215" valign="top">
        
        <!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03-->
       </td>
       <td width="30" align="left" valign="top">
        <img src="img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <td width="380" align="left" valign="top">
        <p>Konzentrierte Arbeitsatmosph&auml;re in traumhafter Umgebung direkt
          am Ufer des Bodensees: Diese einzigartige Kombination bietet das Seminar-
          und Tagungszentrum &bdquo;Villa Rheinburg&ldquo; in Konstanz. </p>
        <p>F&uuml;nf Argumente, die f&uuml;r das Seminar- und Tagungszentrum
          &quot;Villa Rheinburg&quot; sprechen:</p>
        <p>- Einmaliges historisches Ambiente<br>
          - Moderne Infrastruktur <br>
          - Attraktive Incentives und Outdoorprogramme als Erg&auml;nzung zu Ihrer
          Veranstaltung  <br>
          - Professionelle Beratung durch erfahrenes Team <br>
          - Konstanz - die reizvolle Landschaft an Bodensee und Rhein - im Dreil&auml;ndereck
          Deutschland, &Ouml;sterreich und Schweiz</p>
        <p>  Sie sind herzlich eingeladen, sich selbst ein Bild von der besonderen
          Atmosph&auml;re unseres Seminar- und Tagungszentrums zu machen. Nach
          einem Rundgang durch  Haus und Garten k&ouml;nnen wir bei einer
          Tasse &quot;Rheinburger Kaffee&quot; Ihre W&uuml;nsche und Vorstellungen
          besprechen und konkret ein Angebot f&uuml;r Ihre Veranstaltung ausarbeiten.     </p></td>
       <td width="30" align="left" valign="top">
        <img src="img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <!--BILDER RECHTE SEITE	-->
       <td width="245" align="left" valign="top">
        <img src="img/img_see_07.jpg" width="245" height="323">
        <br>
        <br>
			Villa am See
       </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </body>
</html>
