<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <body>
	<div class="villaMenus">
		<ul>
			<li><a href="/static/l1_buchen" target="_self" class="lev1akt">Konferenz- und Tagungsr&auml;ume</a></li>
			<li><a href="/raums" target="_self" class="lev1">Verf&uuml;gbarkeit pr&uuml;fen</a></li>
			<li><a href="/buchungs/new" target="_self" class="lev1">Online buchen</a></li>
			<li><a href="/l2_anfrage.html" target="_self" class="lev1">Anfrage/Reservierung</a></li>
			<li><a href="l1_kontakt.htm" target="_self" class="lev1">Kontakt</a></li>
		</ul>
	</div>
     
	<div id="content_middle">
		<br/>
		<p class="head">Online-Buchung</p>
		<br/>
		<p class="textbold">Konferenz- und Tagungsr&auml;ume </p>
        <p>Das Seminar- und Tagungszentrum &ldquo;Villa Rheinburg&rdquo; bietet
          f&uuml;r Ihre Besprechungen, Konferenzen, Schulungen und &auml;hnliche
          Veranstaltungen den idealen Rahmen! </p>
        <p>Die ehemalige Industriellenvilla
          verf&uuml;gt &uuml;ber f&uuml;nf Seminar- und Besprechungszimmer in
          unterschiedlichen Gr&ouml;&szlig;en sowie &uuml;ber zwei S&auml;le,
          die auch f&uuml;r gr&ouml;&szlig;ere
          Veranstaltungen gen&uuml;gend Platz bieten. Dar&uuml;ber hinaus k&ouml;nnen
          unsere G&auml;ste in mehreren individuell eingerichteten Pausenr&auml;umen
          sowie auf unserer gro&szlig;z&uuml;gigen Terrasse die n&ouml;tige Entspannung
          finden.</p>
         <p>Hier haben Sie die M&ouml;glichkeit die Verf&uuml;gbarkeit der R&auml;ume
         	einzusehen, sowie eine Online-Buchung durzuf&uuml;hren.</p>
	</div>
	
	<div id="images_right">
		<div id="htwg_logo">
			<a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg"></a>
		</div>
		<div id="villa_pic2"/>
		<div id="villa_am_see">Villa am See</div>
	</div>
 </body>
</html>
