
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <body>
  <table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
   <tr align="left" valign="top">
    <td>
     <table width="900" border="0" cellpadding="0" cellspacing="0" >
      <!--  HAUPTMENU LEVEL 01-->
      
      <!--HEADLINE	-->
      <tr>
       <td>
        <img src="/img/pix_weiss_01.gif" width="215" height="97">
       </td>
       <td>&nbsp;</td>
       <td class="head">Online-Buchung </td>
       <td>&nbsp;</td>
       <td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="/img/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
      </tr>
      <!--UNTERMENUE LINKE SEITE LEVEL 02-->
      <tr>
       <td width="215" valign="top">
        <div id="villaMenus" class="villaMenus">
         <a href="/static/l1_buchen" target="_self" class="lev1akt">Konferenz- und Tagungsr&auml;ume</a>
         <a href="/raums" target="_self" class="lev1">Verf&uuml;gbarkeit pr&uuml;fen</a>
         <a href="l2_online.html" target="_self" class="lev1">Online buchen</a>
         <a href="l2_anfrage.html" target="_self" class="lev1">Anfrage/Reservierung</a>
         <a href="l1_kontakt.html" target="_self" class="lev1">Kontakt</a>
        </div>
        <!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03-->
       </td>
       <td width="30" align="left" valign="top">
        <img src="/img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <td width="380" align="left" valign="top">
        <p class="textbold">Konferenz- und Tagungsr&auml;ume </p>
        <p>Das Seminar- und Tagungszentrum &ldquo;Villa Rheinburg&rdquo; bietet
          f&uuml;r Ihre Besprechungen, Konferenzen, Schulungen und &auml;hnliche
          Veranstaltungen den idealen Rahmen! </p>
        <p>Die ehemalige Industriellenvilla
          verf&uuml;gt &uuml;ber f&uuml;nf Seminar- und Besprechungszimmer in
          unterschiedlichen Gr&ouml;&szlig;en sowie &uuml;ber zwei S&auml;le,
          die auch f&uuml;r gr&ouml;&szlig;ere
          Veranstaltungen gen&uuml;gend Platz bieten. Dar&uuml;ber hinaus k&ouml;nnen
          unsere G&auml;ste in mehreren individuell eingerichteten Pausenr&auml;umen
          sowie auf unserer gro&szlig;z&uuml;gigen Terrasse die n&ouml;tige Entspannung
          finden.</p>
         <p>Hier haben Sie die M&ouml;glichkeit die Verf&uuml;gbarkeit der R&auml;ume
         	einzusehen, sowie eine Online-Buchung durzuf&uuml;hren.</p>
        </td>
       <td width="30" align="left" valign="top">
        <img src="/img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <!--BILDER RECHTE SEITE	-->
       <td width="245" align="left" valign="top">
        <img src="/img/img_villa_01.jpg" width="245" height="327">
        <br>
        <br>
			Villa am See<br>
			</td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </body>
</html>
