
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <body>
  <table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
   <tr align="left" valign="top">
    <td>
     <table width="900" border="0" cellpadding="0" cellspacing="0" >
      
      <!--  HAUPTMENU LEVEL 01-->
      
      <!--HEADLINE	-->
      <tr>
       <td>
        <img src="/assets/pix_weiss_01.gif" width="215" height="97">
       </td>
       <td>&nbsp;</td>
       <td class="head">Kontakt</td>
       <td>&nbsp;</td>
       <td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="/assets/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
      </tr>
      <!--UNTERMENUE LINKE SEITE LEVEL 02-->
      <tr>
       <td width="215" valign="top">
       	 <div id="villaMenus" class="villaMenus">
          <a href="l1_kontakt.html" target="_self" class="lev1akt">Ansprechpartner</a>
        </div>
        <!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03-->
       </td>
       <td width="30" align="left" valign="top">
        <img src="/assets/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <td width="380" align="left" valign="top">
        <p class="textbold">Kontaktadresse</p>
        <p>Das Seminar- und Tagungszentrum &quot;Villa Rheinburg&quot; legt besonderen Wert auf ma&szlig;geschneiderte Dienstleistung. Wir richten uns nach den individuellen W&uuml;nschen der Tagungs- und Seminarg&auml;ste: Von der Rahmenorganisation bis zur intensiven Tagesbetreuung w&auml;hlen die G&auml;ste, was sie brauchen. Vermittlung der Hotelbuchung zu Sonderkonditionen, Mittagssnacks im Garten oder die gute Bodensee-K&uuml;che in nahegelegenen Lokalen am See, Organisation von Events, spezielle F&uuml;hrungen zu historischen Orten der alten Reichsstadt Konstanz, Galeriebesuche, Weinproben, Bootsfahrten oder ein gem&uuml;tlicher Grillabend im Sonnenuntergang: Unser Tagungs-Team bereitet alles vor.</p>
        <p> Seminar-
          und Tagungszentrum Villa Rheinburg<br>
          Reichenaustrasse 1<br>
          D-78467 Konstanz <br>
        </p>
        <p class="textbold">Ansprechpartnerin</p>
        Susanne Krebs<br>
Tel. 07531 / 206 144<br>
Fax. 07531 / 206 87 144<br>
<a href="mailto:susanne.krebs@htwg-konstanz.de" class="textlink">susanne.krebs@htwg-konstanz.de</a><br></td>
       <td width="30" align="left" valign="top">
        <img src="/assets/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <!--BILDER RECHTE SEITE	-->
       <td width="245" align="left" valign="top">
        <img src="/assets/img_villa_04.jpg" width="245" height="323">
        <br>
        <br>
		  Villa Rheinburg </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </body>
</html>
