
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head><script src="/A2EB891D63C8/avg_ls_dom.js" type="text/javascript"></script>
  <title>Villa Rheinburg</title>
  <link rel="shortcut icon" href="img/favicon_villarheinb.gif">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link href="stylesheets/css_villarheinb.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
   <tr align="left" valign="top">
    <td>
     <table width="900" border="0" cellpadding="0" cellspacing="0" >
      <tr> 
       <td colspan="4" width="655" valign="bottom" height="97">
        <div style="width:655px; height:97px;">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="655" height="97">
         <param name="movie" value="img/hg_01.swf">
         <param name="quality" value="high">
         <embed src="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="655" height="97"></embed>
        </object>  </div> 
       </td>
       <td width="245" valign="bottom">
         <div style="height:97px;"><img src="img/zeichen_villa.jpg" width="245" height="97"></div>
       </td>
      </tr>
      <!--  HAUPTMENU LEVEL 01-->
      <tr>
       <td colspan="4" background="img/hg_navi_01.jpg" width="655" height="35">
        <a href="index.html" target="_self" class="menu1">Home</a>
        <a href="l1_buchen.html" class="menu1">Online-Buchung</a>
        <a href="l1_kontakt.html" class="menu1akt">Kontakt</a>
       </td>
       <td background="img/hg_navi_02.jpg">
       </td>
      </tr>
      <!--HEADLINE	-->
      <tr>
       <td>
        <img src="img/pix_weiss_01.gif" width="215" height="97">
       </td>
       <td>&nbsp;</td>
       <td class="head">Kontakt</td>
       <td>&nbsp;</td>
       <td><a href="http://www.htwg-konstanz.de" target="_blank"><img src="img/logo_htwg.jpg" width="245" height="97" border="0"></a></td>
      </tr>
      <!--UNTERMENUE LINKE SEITE LEVEL 02-->
      <tr>
       <td width="215" valign="top">
        <div id="villaMenus" class="villaMenus">
          <a href="l1_kontakt.html" target="_self" class="lev1akt">Ansprechpartner</a>
        </div>
        <!--CONTENT TEXTINHALTE / UNTERMENUE LEVEL 03-->
       </td>
       <td width="30" align="left" valign="top">
        <img src="img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <td width="380" align="left" valign="top">
        <p class="textbold">Kontaktadresse</p>
        <p>Das Seminar- und Tagungszentrum &quot;Villa Rheinburg&quot; legt besonderen Wert auf ma&szlig;geschneiderte Dienstleistung. Wir richten uns nach den individuellen W&uuml;nschen der Tagungs- und Seminarg&auml;ste: Von der Rahmenorganisation bis zur intensiven Tagesbetreuung w&auml;hlen die G&auml;ste, was sie brauchen. Vermittlung der Hotelbuchung zu Sonderkonditionen, Mittagssnacks im Garten oder die gute Bodensee-K&uuml;che in nahegelegenen Lokalen am See, Organisation von Events, spezielle F&uuml;hrungen zu historischen Orten der alten Reichsstadt Konstanz, Galeriebesuche, Weinproben, Bootsfahrten oder ein gem&uuml;tlicher Grillabend im Sonnenuntergang: Unser Tagungs-Team bereitet alles vor.</p>
        <p> Seminar-
          und Tagungszentrum Villa Rheinburg<br>
          Reichenaustrasse 1<br>
          D-78467 Konstanz <br>
        </p>
        <p class="textbold">Ansprechpartnerin</p>
        Susanne Krebs<br>
Tel. 07531 / 206 144<br>
Fax. 07531 / 206 87 144<br>
<a href="mailto:susanne.krebs@htwg-konstanz.de" class="textlink">susanne.krebs@htwg-konstanz.de</a><br></td>
       <td width="30" align="left" valign="top">
        <img src="img/pix_weiss_01.gif" width="30" height="100%">
       </td>
       <!--BILDER RECHTE SEITE	-->
       <td width="245" align="left" valign="top">
        <img src="img/img_villa_04.jpg" width="245" height="323">
        <br>
        <br>
		  Villa Rheinburg </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </body>
</html>
