/*###############################################################
      Villa Rheinburg
###############################################################*/


/* body*/
body {
	margin: 0 auto;
	width: 900px;
	padding-top: 40px;
}

p, td, ol {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #505873;
	font-size: 12px;
	line-height: 18px;
}

/* HEAD (VERANSTALTUNG) */
.head {
	font-size: 16px;
	font-weight: bold;
	color: #d09896;
}

/* FLIESSTEXT  */
.text {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #505873;
}

/* FLIESSTEXT BOLD */
.textbold {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #505873;
}

.calendar td { height: 100px; width: 14.28%; }

a.textlink {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #505873;
	text-decoration: underline;
}

a.textlink:hover {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	color: #505873;
	background-color:#ffffff;
}

#image_villa_motion{
	width: 655px;
	height: 97px;
	float: left;
}

#image_villa_static{
	background: url(/assets/zeichen_villa.jpg) no-repeat;
	width: 245px;
	height: 97px;
	float: left;
}

#navi_bar_menu{
	background: url(/assets/hg_navi_01.jpg) no-repeat;
	width: 655px;
	height: 35px;
	float: left;
}

#navi_bar{
	background: url(/assets/hg_navi_02.jpg) no-repeat;
	width: 245px;
	height: 35px;
	float: left;
}

#navi_bar_menu ul li{
	display: inline;
}

#navi_bar_menu > ul{
	padding: 0px 0px 0px 0px;
	margin-top: 8px;
}

#empty_space{
	width: 245px;
	height: 5px;
	float: left;
}

#content_middle{
	background: white;
	width: 380px;
	float: left;
}

#images_right{
	width: 245px;
	float: left;
	padding-left: 30px;
}

#htwg_logo{
	height: 0px;
	width: 245px;
}

#villa_pic{
	background: url(/assets/img_see_07.jpg) center no-repeat;
	height: 510px;
	width: 245px;
}

#villa_pic2{
	background: url(/assets/img_villa_01.jpg) center no-repeat;
	height: 510px;
	width: 245px;
}

#villa_rheinburg{
	background: url(/assets/img_villa_04.jpg) center no-repeat;
	width: 245px;
	height: 523px;
}

#villa_am_see{
	padding-top: 445px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #505873;
	font-size: 12px;
}


/*###############################################################
villa menue
###############################################################*/

a, div {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration:none;
}

.villaMenus{
	display: block; 
	width: 245px;
	float: left;
}

.villaMenus ul{
	padding: 80px 30px 0px 0px;
	margin: 0px;
	border-bottom: 1px solid #d09896; /* BUG */
}

.villaMenus ul li{
	display: block; 
	padding: 0px 0px;
}

.villaMenus a:visited {
	color:#505873
}

a.lev1akt {
	display:block; 
	background-color:#e6d2d3; 
	color:#505873;
	padding: 2px 0px 2px 10px;
	border-top: 1px solid #d09896; /* BUG */
}


a.lev1 {
	display:block; 
	color:#505873; 
	background-image:none; 
	padding:2px 0px 2px 10px;
	border-top: 1px solid #d09896;
}


a.lev1:hover {
	background-color:#e6d2d3; 
	color:#505873;
}


/* MENU1 */
#menu1 {
	margin-left: 113px;
	margin-top: 192px;
	line-height: 24px;
	color: #3F3F3D;
	font-weight:bold;  
}


a.menu1:link {
	color: #3F3F3D;
	text-decoration: none;
	font-weight:bold; 
	padding: 0px 10px 0px 12px;
}


a.menu1:visited {
	color: #3F3F3D;
}


a.menu1:active, a.menu1:focus, a.menu1:hover {
	color: #ffffff;
}


/* menu1 aktiviert, weiss*/
a.menu1akt:link {
	color: #ffffff;
	text-decoration: none;
	font-weight:bold; 
	padding:0px 10px 0px 12px;
}


a.menu1akt:visited {
	color: #ffffff;
}

a.menu1akt:active, a.menu1akt:focus, a.menu1akt:hover {
	color: #ffffff;
}
