@import "ausstattungs.css.scss";
@import "besitzts.css.scss";
@import "buchungs.css.scss";
@import "kundes.css.scss";
@import "raums.css.scss";
/*@import "scaffolds.css.scss";*/
@import "sessions.css.scss";
@import "static.css.scss";

@import "calendar_styles/blue.css";
@import "calendar_styles/grey.css";
@import "calendar_styles/red.css";

/*###############################################################
      Villa Rheinburg
###############################################################*/

/* body*/
p{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #505873;
	font-size: 12px;
	line-height: 18px;
}

td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	line-height: 18px;
}


/* HEAD (VERANSTALTUNG) */
.head {
	font-size: 16px;
	font-weight: bold;
	color: #d09896;
}

/* FLIESSTEXT  */
.text {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #505873;
}

/* FLIESSTEXT BOLD */
.textbold {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #505873;
}

.calendar td { height: 100px; width: 14.28%; }

a.textlink {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #505873;
	text-decoration: underline;
}

#image_villa_motion{ display: none; }
#htwg_logo{	display: none; }


/*###############################################################
villa menue
###############################################################*/

a, div {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration:none;
}

.villaMenus a:visited {
	color:#505873
}

/* MENU1 */
#menu1 {
	line-height: 24px;
	color: #3F3F3D;
	font-weight:bold;  
}

a.menu1:link, a.menu1akt:link {
	color: #3F3F3D;
	text-decoration: none;
	font-weight:bold; 
}

a.menu1:visited, a.menu1akt:visited {
	color: #3F3F3D;
}

a.menu1:active, a.menu1akt:active  {
	color: #ffffff;
}
