<!DOCTYPE html>
<html>
<head>
  <title>Raumbuchungssystem Villa Rheinburg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="900" border="0" align="center" style="margin-top:40px;">
   <tr align="left" valign="top">
    <td>
     <table width="900" border="0" cellpadding="0" cellspacing="0" >
      <tr> 
       <td colspan="4" width="655" valign="bottom" height="97">
        <div style="width:655px; height:97px;">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="655" height="97">
         <param name="movie" value="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf">
         <param name="quality" value="high">
         <embed src="http://www.villa-rheinburg.htwg-konstanz.de/img/hg_01.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="655" height="97"></embed>
        </object>  </div> 
       </td>
       <td width="245" valign="bottom">
        <div style="height:97px;"><img src="/img/zeichen_villa.jpg" width="245" height="97"></div>
       </td>
      </tr>
      <!--  HAUPTMENU LEVEL 01-->
      <tr>
       <!--<td colspan="4" background="hg_navi_01.jpg" width="655" height="35">-->
       	<td colspan="4" style="background-image:url(/img/hg_navi_01.jpg)" width="655" height="35">

        <a href="/static/index" target="_self" class="menu1akt">Home</a>
        <a href="/static/l1_buchen" class="menu1">Online-Buchung</a>
        <a href="/static/l1_kontakt" class="menu1">Kontakt</a>
       </td>
       <!--<td background="/img/hg_navi_02.jpg">-->
       	<td style="background-image:url(/img/hg_navi_02.jpg)">
       </td>
      </tr>
<%= yield %>

</body>
</html>
